In [3]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from scipy import stats

In [4]:
sb.set()
linreg = LinearRegression()

In [8]:
filename = "C:/Users/faiz_/Desktop/SC1015Project/Engineering_graduate_salary.csv"             
#add a new line for your own file name and comment this file name when starting the code

In [12]:
df = pd.read_csv(filename)

In [17]:
#df.describe()
df.columns

Index(['ID', 'Gender', 'DOB', '10percentage', '10board', '12graduation',
       '12percentage', '12board', 'CollegeID', 'CollegeTier', 'Degree',
       'Specialization', 'collegeGPA', 'CollegeCityID', 'CollegeCityTier',
       'CollegeState', 'GraduationYear', 'English', 'Logical', 'Quant',
       'Domain', 'ComputerProgramming', 'ElectronicsAndSemicon',
       'ComputerScience', 'MechanicalEngg', 'ElectricalEngg', 'TelecomEngg',
       'CivilEngg', 'conscientiousness', 'agreeableness', 'extraversion',
       'nueroticism', 'openess_to_experience', 'Salary'],
      dtype='object')

DATA THAT I FEEL ARE RELEVANT

In [56]:
gender = pd.DataFrame(df['Gender'])
tenPercent = pd.DataFrame(df['10percentage']) #overall marks obtained in grade 10 examination
twelvePercent = pd.DataFrame(df['12percentage']) #overall marks obtained in grade 12 examination
collegeTier = pd.DataFrame(df['CollegeTier']) #the tier of the college
degree = pd.DataFrame(df['Degree'])
specialization = pd.DataFrame(df['Specialization'])
salary = pd.DataFrame(df['Salary'])
scores = pd.DataFrame(df[df.columns[17:28]]) #11 test datasets
personality = pd.DataFrame(df[df.columns[28:33]]) #5types of personalies datasets

Types of question i came up with
    - does gender matter in term of salary
    - does grade10/12 marks matter for salary
    - does the collegeTier has anything to do with salary
    - what degree give the most salary
    - what specialisation give the most salary
    - scores has 11 datasets that may determine the outcome of salary
    - personality has 5 datasets that may  determine the outcome of salary

In [57]:
personality.columns

Index(['conscientiousness', 'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience'],
      dtype='object')

In [58]:
personality.describe()

,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
count,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000
mean,-0.038714,0.126217,-0.008662,-0.145965,-0.141111
std,1.024974,0.955831,0.962695,1.012901,1.007134
min,-3.893300,-5.781600,-4.600900,-2.643000,-7.375700
25%,-0.649100,-0.435300,-0.604800,-0.868200,-0.669200
50%,0.046400,0.212400,0.091400,-0.172700,-0.094300
75%,0.702700,0.812800,0.672000,0.526200,0.502400
max,1.995300,1.904800,2.161700,3.352500,1.630200

In [59]:
scores.columns

Index(['English', 'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'MechanicalEngg',
       'ElectricalEngg', 'TelecomEngg', 'CivilEngg'],
      dtype='object')

In [60]:
scores.describe()

,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg
count,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000
mean,501.066378,500.431621,514.137759,0.508458,351.868579,96.228152,94.147098,24.138759,16.267845,31.068379,1.946965
std,105.304512,87.299850,122.194955,0.463373,204.526227,158.737747,177.784536,99.785138,86.054739,103.552963,32.241501
min,180.000000,195.000000,120.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,425.000000,441.250000,430.000000,0.342315,295.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,500.000000,505.000000,515.000000,0.622643,415.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,570.000000,565.000000,595.000000,0.835612,495.000000,233.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
max,875.000000,795.000000,900.000000,0.999910,804.000000,612.000000,715.000000,623.000000,660.000000,548.000000,500.000000